* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

.btn-delete {
    margin-left: 22px;
}

.addProduct {
    height: 40px;
    padding: 0.5rem 1rem;
}

.carousel .carousel-item {
    height: 80vh !important;
    width: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}
.currProduct {
    text-transform: capitalize;
}

.slick-slider {
    display: flex;
}

.slick-prev {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 100;
    padding: 4px 8px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-next {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 100;
    padding: 4px 8px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-track img {
    height: 400px !important;
}

.category-detail {
    color: #bcccdc;
}

.addToCart {
    background-color: #fc9a3a;
    color: #fff;
    
}

.addToCart:active, .addToCart:hover {
    color: #fff;
}

.prd-title {
    font-size: 36px;
}

.category-detail {
    font-size: 18px;
    text-transform: uppercase;
}

.prd-price {
    font-size: 18px;
    font-weight: bold;
}

.prd-desc {
    color: #617d98;
}

.prdCartImg {
    border-radius: 12px;
}



.prdCartTitle,
#prdCartPrice {
    color: #394e6a;
}

#prdCartPrice {
    font-weight: bold;
}

.sub-total {
    background-color: #f0f6ff;
    padding: 16px;
    border-radius: 12px;
}

.prdCartTitle {
    font-size: 18px;
}

.prdCartCat {
    font-size: 15px;
    color: #939da9;
}

.prdNameVsCat {
    flex: 2;
}

.prdCartQuantity,
.prdCartPrice {
    flex: 1;
}