* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin-bottom: 0;
}

.btn-delete {
    margin-left: 22px;
}

.addProduct {
    height: 40px;
    padding: 0.5rem 1rem;
}

.carousel .carousel-item {
    height: 80vh !important;
    width: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}
